<!-- AppFutbol/templates/entrenadores.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrenadores</title>
</head>
<body>
    <h1>Listado de Entrenadores</h1>
    <p>
        {% for entrenador in entrenadores %}
            <li>{{ entrenador.nombre }}</li>
        {% endfor %}
    </p>
    <a href="{% url 'agregar_entrenador' %}">Agregar Entrenador</a>
    <a href="{% url 'seleccionar_categoria' %}">Volver</a>
</body>
</html>